@CHARSET "UTF-8";

.Message1 {

    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
    -fx-font-family:SERIF;
    -fx-font-size:12;
    -fx-font-weight:bold;
    -fx-fill: #1e90ff;
    -fx-background-color: #b8860b;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 5, 0.1 , 0 , 1 );
    -fx-blend-mode:SRC_ATOP ;
    -fx-opacity:1;
}
.Message2 {

    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
    -fx-font-family:SERIF;
    -fx-font-size:30;
    -fx-font-weight:bold;
    -fx-fill: #1e90ff;
    -fx-background-color: #b8860b;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 5, 0.1 , 0 , 1 );
    -fx-blend-mode:SRC_ATOP ;
    -fx-opacity:1;
}
.box1{
	
} 